
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>List Of Entered Text</title>
    <script src="Bootstrapjs.css"></script>
   
   

  </head>
  <body>
    <div id="app">
      <h2>Please Enter The Word You Wish To Be Listed</h2>

      
      

      <input v-model="textInput" @keyup.enter="addToList" placeholder="Type a text and press Enter">
      <button @click="addToList"  >Add to list</button>
   
      <p v-if="showError" class="error">No Text Entered</p>

      <h3> Entered Text</h3>
      <ul style="border-collapse: collapse;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      
      font-size: 16px;
      font-family: Arial, sans-serif;
      ">
        <li v-for="(text, index) in transformedTexts" :key="index">{{ text }}</li>
      </ul>

   

      <table class="table" 
      style="border-collapse: collapse;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 5%;
      background-color: #f9f9f9;
      font-size: 16px;
      font-family: Arial, sans-serif;
      text-align: center;">
        <thead >
          <tr>
          <th style="background-color:#084298 ; color:white; font-weight: bold;"> Entered Text</th>
          <th style="background-color:#084298 ; color:white; font-weight: bold;">First Letter Caps</th>
          <th style="background-color:#084298 ; color:white; font-weight: bold;" >Last Letter Caps</th>
          <th style="background-color:#084298 ; color:white; font-weight: bold;">All Letters Caps</th>
          <th style="background-color:#084298 ; color:white; font-weight: bold;">Backwards</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(text, index) in transformedTexts" :key="index">
          
            <td>{{ text }}</td>
            <td>{{ text.charAt(0).toUpperCase() + text.slice(1) }}</td>
            
            <td>{{ text.slice(0, -1) + text.charAt(text.length -1).toUpperCase() }}</td>
            <td>{{ text.toUpperCase() }}</td>
            <td>{{ text.split('').reverse().join('') }}</td>

          </tr>
        </tbody>
      </table>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="site.js"></script>
  </body>
</html>
